@font-face {
  font-family: segment;
  src: url("DSEG7ClassicMini-Regular.woff");
}

body {
  background-color: black;
}

#counter {
  font-family: segment;
  font-size: 70vmin;
  color: red;
  text-align: center;
  padding-top: 10vmin;

  cursor: none;
}

#timer1 {
  font-family: segment;
  font-size: 17vw;
  color: red;
  text-align: center;
  padding-top: 30vmin;

  cursor: none;
}

#timer2 {
  font-family: segment;
  font-size: 30vmin;
  color: red;
  text-align: center;
  padding-top: 30vmin;

  cursor: none;
}

#counter.green {
  color: green;
}

#counter.blue {
  color: blue;
}

#counter.pink {
  color: pink;
}

#counter.blinkslow {
  animation: blinker 0.5s linear infinite;
}

#counter.blinkfast {
  animation: blinker 0.1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
